
*{
  margin : 0px;
  padding : 0px;
  box-sizing : border-box;
}

.pp{
  /* color: white;  */
  background-color: black;
}

img{
  -webkit-user-drag: none;
}

/* Navbar CSS */
nav{
  display: flex;
  height: 70px;
  /* box-shadow: 0px 0px 200px pink; */
  margin-bottom: 2px;
  background-color: white;
  color: black;
}

nav ul{
  margin : auto;
  display: block;
}

nav ul li{
  display: inline-block;
  margin : 10px 8px 10px 8px;
  font-size : 19px;
}


.linknav {
  color: black;
  text-decoration: none;
}

.linknav:hover{
  color: rgb(179, 179, 67);
  cursor : pointer;
}

/* Banner CSS */

/* .banner-container::before{
  content: '';
  background-size: cover;
  height : 100%;
  width: 100%;
  position: absolute;
  z-index: -9;
  background-color: blueviolet;
} */

.banner-container{
  background: url('../public/main.jpg') no-repeat;
  /* background-color: aqua; */
  width: 100%;
}

.ll{
  /* height: 700px; */
}

.circle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 230px;
  width: 230px;
  background-color:#99E54D;
  border-radius: 130px;
  margin: 40px 10px 15px 0px ;
}

.circle h1{
  font-size: 60px;
  font-weight: bolder; 
  text-align: center;
  color: black;
}

.circle h3{
  font-size: 18px;
  font-weight: 700; 
  text-align: center;
}

.ll h1{
  color: white;
  font-size: 60px;
  font-weight: 730;
}

.ll button{
  padding: 14px 45px;
  border-radius: 50px;
  margin: 5px 5px 15px 5px;
  color: white;
  background-color: #DAA520;
}

@media screen and (max-width:768px) {
  .ll{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Category CSS */

.category-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: greenyellow; */
  padding: 40px 10px;
}

.category{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  margin: 10px 20px;
  height: 350px;
  width: 350px;
}

/* .category img{
  height: 100%;
  width: 100%;
  border-radius: 25px;
} */

/* Ginger CSS */

.Ginger-Container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Ginger-txt{
  bottom: 0px;
  color: white;
  padding: 30px;
  text-align: justify;
}

.Ginger-txt h3{
  margin: 15px 3px;
}

.Ginger-txt p{
  font-size: 19px;
}

.Ginger-img img{
  height: 100%;
  width : 100%;
  height: 600px;
  border-radius: 40px;
}

@media screen and (max-width: 768px) {
  .Ginger-Container{
    flex-direction: column-reverse;
  }
  .Ginger-img img{
    height: 400px;
  }
}

/* menu CSS */

.menu-container{
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  margin: 50px 0px 0px 0px ;
}

.menu-container h1{
  font-size: 40px;
  font-weight: 700;
}

.menu-container p{
  margin: 17px 5px ;
  font-size: 19px;
  text-align: center;
}

.menu{
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.menu-img{
  /* float: left; */
  width: 90%;
  height: 500px;
  background-color: aqua;
  border-radius: 50px;
}

.menu-img img{
  width : 100%;
  height: 100%;
  border-radius: 40px;
}

.menu button{
  padding: 20px 40px;
  border-radius: 40px;
  background-color: #99E54D;
  outline: none;
  margin-bottom: 30px;
}

.menu p{
  text-transform:uppercase ;
}

.qq{
  display: flex;
  /* margin: 50px 0px; */
}

@media screen and (max-width:768px) {
  .qq{
    flex-direction: column;
  }
}


/* Details CSS */

.Details-constainer{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* margin-bottom: 80px; */
}

.Details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  border-radius: 100px;
  background-color: #99E54D;
  color: black;
  margin: 15px 10px 10px 10px ;
}

.icon img{
  height: 100%;
  width : 100%;
  border-radius: 100px;
}

/* contact css */

.con{
  background-color: rgb(236, 228, 213);
}

/* Forms CSS */

.contact-container{
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background-color: white;
  /* padding-bottom: 40px; */
}

.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
}

.contact h1{
  font-size:45px;
  font-weight: 700;
  margin-bottom: 13px;
}

.contact p{
  font-size: 19px;
}

/* Submit button css */
.submit-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Submit{
  padding: 15px 35px;
  border-radius: 25px;
  margin: 10px;
  background-color: #99E54D;
  border: none;
  /* width: 100px; */
}

/* Input Forms cs */
.tt{
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  outline: none;
}

.input{
  width: 100%;
  border-radius: 18px;
  border: 2px solid black;
  padding: 11px 8px;
}

textarea{
  width: 100%;
  height: 130px;
  border-radius: 22px;
  padding: 5px 10px;
  outline: none;
  border: 2px solid black;
}

.input-div label{
  margin: 10px 5px 1px 5px;
}

/* uptodate Css */
.uptodate-container{
  padding: 70px 30px;
  background-color: #DAA520;
  margin: 60px 0px 0px 0px;

}

.uptodate{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
  border-radius: 30px;
  background-color: white;
  margin: 0px 10px ;
}

.uptodate-txt{
  text-align: center;
}

.uptodate-txt p{
  margin: 15px 0px;
}

.uptodate-txt h1{
  font-size: 55px;
  font-weight: 700;
}


.email_input{
  display: flex;
  justify-content: center;
  align-items: center;
}

.email_input input{
  width: 100%;
  border-radius: 22px;
  margin: 10px 10px;
  padding: 11px 10px;
  outline: none;
  border: 2px solid black;
}

@media screen and (max-width:768px) {
  .uptodate{
    width: 90%;
  }
  .email_input{
    flex-direction: column;
  }

  .uptodate-txt h1{
    font-size: 40px;
    font-weight: 700;
  }
  
}

/* Timer css */
.timer{
  height: 90vh;
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hour{
  height: 200px;
  width: 250px;
  background-color: #99E54D;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

/* counter css */

.counter-container{
  height: 90vh;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter{
  background-color: #99E54D;
  display: flex;
  width: 30%;
  height: 100px;
}

.incr{
  width: 34%;
  height: 100px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border: none;
}

.data{
  width: 33%;
  height: 100px;
  background-color: rgb(134, 145, 130);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.decr{
  width: 33%;
  height: 100px;
  background-color: rgb(218, 166, 83);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border: none;
}

/* Cards CSS */

.mission-container{
  background-color: aqua;
}